<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Opc.Ua.Types -->
      <package
            uri="http://opcfoundation.org/UA/2008/02/Types.xsd"
            class="org.opcfoundation.ua._2008._02.types.TypesPackage"
            genModel="model/Opc.Ua.Types.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Opc.Ua.Types -->
      <parser
            type="types"
            class="org.opcfoundation.ua._2008._02.types.util.TypesResourceFactoryImpl"/>
   </extension>

</plugin>
