<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated NodeIdsCsv -->
      <package
            uri="http://at.ac.tuwien.auto.modelua.uml2opcua.NodeIdsCsv.ecore"
            class="at.ac.tuwien.auto.modelua.uml2opcua.nodeIdsCsv.NodeIdsCsv.NodeIdsCsvPackage"
            genModel="model/NodeIdsCsv.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated NodeIdsCsv -->
      <parser
            type="csv"
            class="at.ac.tuwien.auto.modelua.uml2opcua.nodeIdsCsv.NodeIdsCsv.util.NodeIdsCsvResourceFactoryImpl"/>
   </extension>
</plugin>
